<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="SQLConnStr" value="Data Source=101.201.113.251,14330;Initial Catalog=EnterpriseService;User id=sa; Password=jhbc!@#456;"/>
    <add key="DES_Key" value="Enterpri"/>
    <add key="PipeDesKey" value="Enterpri"/>
    <add key="FileRoot" value="D:\EnterpriseService"/>
    <add key="FileUrl" value="http://101.201.113.251:8181/"/>
  <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
</configuration>
